body {
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    margin: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    background-image: linear-gradient(to right, rgb(139, 93, 172), rgb(233, 143, 233));
    width: 200px;
    height: 200px;
    margin-bottom: 25px;
}

.input-group input {
    width: 70px;
    height: 40px;
}

button {
    margin: 15px 0 0 0;
    width: 200px;
    height: 40px;
}

.generate {
    display: flex;
}

input, button {
    border: 2px solid #c5c9e2;
    background-color: #f0f2f5;
    outline: none;
}

.cssGenerator input {
    width: 250px;
    height: 40px;
    color: red;
}

.cssGenerator button {
    width: 60px;
    height: 45px;
}